<!DOCTYPE html>
<html>
    <head>
        <title>PSP General</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
            crossorigin="anonymous"
        />
        <style>
            /* 確保 body 和 html 填滿整個頁面 */
            body, html {
                background-color: ivory;
                height: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            /* 中心容器 */
            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 120%; /* 調整此處來控制最大寬度 */
                max-width: 800px; /* 最大寬度，可根據需要調整 */
                margin: 0 auto;
            }

            /* 設置水平排列 */
            .horizontal-form {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }

            .horizontal-form label {
                margin-right: 10px;
            }
            

            button, input, select {
                margin: 10px;
            }

            label {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/psp_general">首頁</a></li>
                    <li class="breadcrumb-item active" aria-current="page">PSP General</li>
                </ol>
            </nav>
            <h2 class="my-4">PSP General (二次身份註冊與驗證)</h2>
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <div>
                    請注意，若您尚未完成<strong>二次身份註冊與驗證</strong>，將無法使用<strong>跨機構轉帳</strong>服務。<br />
                    請先完成二次身份註冊與驗證。完成後，即可順利進行跨機構轉帳操作。
                </div>
            </div>

            <div class="horizontal-form">
                <label for="psp">支付服務商: </label>
                <input type="text" id="psp" value="<%= userInfo.psp %>" disabled />
            </div>
            <div class="horizontal-form">
                <label for="username">使用者名稱: </label>
                <input type="text" id="username" value="<%= userInfo.name %>" autocomplete="username webauthn" disabled />
            </div>
            <div class="horizontal-form">
                <label for="account">使用者帳戶: </label>
                <input type="text" id="account" value="<%= userInfo.account %>" disabled />
            </div>

            <div>
                <button type="button" class="btn btn-secondary" onclick="location.href='/psp_general/authenticate' + window.location.search">
                    登入
                </button>
                <button type="button" class="btn btn-secondary" id="verify-register" onclick="location.href='/psp_general/register' + window.location.search">
                    註冊
                </button>
            </div>
        </div>
    </body>

    <!-- 引入 Bootstrap JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>

    <script>
        window.onload = function () {
            let params = new URLSearchParams(window.location.search);
            let isVerified = params.get("isVerified");
            let button = document.getElementById("verify-register");
            if (Boolean(Number(isVerified))) {
                button.disabled = true;
            } else {
                button.disabled = false;
            }
        };
    </script>
</html>
