<!DOCTYPE html>
<html>
    <head>
        <title>PSP 1</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
            crossorigin="anonymous"
        />
        <style>
            /* 確保 body 和 html 填滿整個頁面 */
            body, html {
                background-color: ivory;
                height: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            /* 中心容器 */
            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 120%; /* 調整此處來控制最大寬度 */
                max-width: 800px; /* 最大寬度，可根據需要調整 */
                margin: 0 auto;
            }

            /* 設置水平排列 */
            .horizontal-form {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }

            .horizontal-form label {
                margin-right: 10px;
            }
            

            button, input, select {
                margin: 10px;
            }

            label {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>PSP 1 (FIDO)</h1>
            <div class="horizontal-form">
                <label for="username">使用者名稱: </label>
                <input type="text" name="username" id="username" autocomplete="username webauthn" />
            </div>

            <!-- 進階設定 -->
            <button
                class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
            >
                進階設定
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <ins>Registration Settings</ins>
                    <!-- User Verification -->
                    <label for="optRegUserVerification"> User Verification </label>
                    <select name="optRegUserVerification" id="optRegUserVerification">
                        <option value="discouraged">Discouraged</option>
                        <option value="preferred" selected>Preferred</option>
                        <option value="required">Required</option>
                    </select>
                    <p>
                        Whether a biometric/PIN check is required or not. This filters out security keys not having this
                        capability.
                    </p>

                    <!-- Attachment -->
                    <label for="attachment"> Attachment </label>
                    <select name="attachment" id="attachment">
                        <option>All Supported</option>
                        <option value="cross-platform">Cross-Platform</option>
                        <option value="platform" selected>Platform</option>
                    </select>
                    <p>Describe authenticators' attachment modalities</p>

                    <!-- Discoverable Credential -->
                    <label for="discoverableCredential"> Discoverable Credential </label>
                    <select name="discoverableCredential" id="discoverableCredential">
                        <option value="discouraged">Discouraged</option>
                        <option value="preferred" selected>Preferred</option>
                        <option value="required">Required</option>
                    </select>
                    <p>
                        A "discoverable" credential can be selected using `authenticate(...)` without providing credential
                        IDs. Instead, a native pop-up will appear for user selection. This may have an impact on the
                        "passkeys" user experience and syncing behavior of the key.
                    </p>

                    <!-- Attestation dropdown -->
                    <label for="attestation"> Attestation </label>
                    <select name="attestation" id="attestation">
                        <option value="none" selected>None</option>
                        <option value="direct">Direct</option>
                    </select>
                    <p>
                        The attestation data that is returned from the authenticator has information that could be used to
                        track users. This option allows servers to indicate how important the attestation data is to this
                        registration event.
                    </p>

                    <!-- Public Key Algorithms -->
                    <label for="pubKeyAlgo"> Public Key Algorithms (Multi-select enabled) </label>
                    <div class="form-check" name="pubKeyAlgo" id="pubKeyAlgo">
                        <input type="checkbox" value="-8" id="optAlgEd25519" /> Ed25519
                        <input type="checkbox" value="-7" id="optAlgES256" checked /> ES256
                        <input type="checkbox" value="-257" id="optAlgRS256" checked /> RS256
                    </div>
                    <p>This is an array of objects describing what public key types are acceptable to a server.</p>

                    <!-- Registration Hints (most to least preferred) -->
                    <label for="registrationHints"> Registration Hints (Optional, from most to least preferred) </label>
                    <div class="form-check" name="registrationHints" id="registrationHints">
                        <input type="checkbox" value="security-key" id="securityKey" /> Security Key
                        <input type="checkbox" value="client-device" id="clientDevice" /> Client Device
                        <input type="checkbox" value="hybrid" id="hybrid" /> Hybrid
                    </div>
                    <p>
                        WebAuthn Relying Parties may use this enumeration to communicate hints to the user-agent about how a
                        request may be best completed.
                    </p>
                    <p>Order: <span id="orderDisplay" style="color: lightgrey"></span></p>

                    <button class="btn btn-warning" onclick="location.reload();">重新設定</button>
                </div>
            </div>

        <div>
            <button class="btn btn-secondary" onclick="register()">確認</button>
        </div>
        </div>
    </body>
    <!-- 引入 Bootstrap JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>
    <script>
        // Registration Hints Order
        let regHintsOrder = [];
        document.getElementsByName("registrationHints")[0].addEventListener("change", function (event) {
            if (event.target.checked) {
                regHintsOrder.push(event.target.value);
            } else {
                regHintsOrder = regHintsOrder.filter((item) => item !== event.target.value);
            }
            document.getElementById("orderDisplay").textContent = regHintsOrder.join(",");
        });

        async function register() {
            try {
                let username = document.getElementById("username").value;
                let regUserVerification = document.getElementById("optRegUserVerification").value;
                let attachment = document.getElementById("attachment").value;
                if (attachment === "All Supported") attachment = undefined;
                let discoverableCredential = document.getElementById("discoverableCredential").value;
                let attestation = document.getElementById("attestation").value;
                const pubKeyAlgo = [];
                let algEd25519 = document.getElementById("optAlgEd25519");
                let algES256 = document.getElementById("optAlgES256");
                let algRS256 = document.getElementById("optAlgRS256");
                if (algEd25519.checked) pubKeyAlgo.push(Number(algEd25519.value));
                if (algES256.checked) pubKeyAlgo.push(Number(algES256.value));
                if (algRS256.checked) pubKeyAlgo.push(Number(algRS256.value));
                let regHints = document.getElementById("orderDisplay").textContent; // regHints 是字串，e.g. "" 或 "security-key,hybrid"

                const { startRegistration } = SimpleWebAuthnBrowser;
                // GET registration options from the endpoint that calls
                // @simplewebauthn/server -> generateRegistrationOptions()
                const resp = await fetch("/psp1/register/options", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        username,
                        // e.g. 'preferred'
                        user_verification: regUserVerification,
                        // e.g. 'direct'
                        attestation,
                        // e.g. 'platform'
                        attachment,
                        // e.g. ['es256', 'rs256']
                        algorithms: pubKeyAlgo,
                        // e.g. 'preferred'
                        discoverable_credential: discoverableCredential,
                        // e.g. ['security-key', 'hybrid']
                        hints: regHints,
                    }),
                });
                // Pass the options to the authenticator and wait for a response
                const attRespJSON = await resp.json();
                console.log('REGISTRATION OPTIONS');
                console.log(JSON.stringify(attRespJSON, null, 2));

                const attResp = await startRegistration(attRespJSON);
                console.log('REGISTRATION RESPONSE');
                console.log(JSON.stringify(attResp, null, 2));

                // POST the response to the endpoint that calls
                // @simplewebauthn/server -> verifyRegistrationResponse()
                const verificationResp = await fetch("/psp1/register/result", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        attResp,
                        account: attRespJSON.user.id,
                        username: attRespJSON.user.name,
                    }),
                });
                // Wait for the results of verification
                const verificationJSON = await verificationResp.json();
                if (verificationJSON && verificationJSON.verified) {
                    window.alert("Registration successful!");
                    location.assign("/psp1/authenticate");
                } else {
                    window.alert("Registration failed!");
                    location.reload();
                }
            } catch (error) {
                console.log(error.message);
                window.alert(error.message);
            }
        }
    </script>
</html>
